html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: "Open Sans";
  color: #003b00;
  background: #1f262a;
}

a:link {
  color: green;
  background-color: transparent;
}
a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}

.clicker {
  align-items: center;
  justify-content: center;
  background: #1f262a;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.buyables {
  overflow: auto;
  background-color: #1f262a;
  /* height: 50%; */
  list-style: none;
  margin: auto;
  align-items: center;
  justify-content: center;
  align-self: center;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.buyable {
  display: flex;
  padding: 30px 20px;
  margin: 10px;
  border: 2px solid #003b00;
  border-radius: 8px;
  background-color: #000000;
  width: 800px;
  align-items: center;
  justify-content: center;
  align-self: center;
  margin: auto;
}

.buyable__amount {
  align-self: center;
  font-size: 24px;
}

.buyable__button {
  align-self: center;
  background: none;
  border: 2px solid #003b00;
  border-radius: 8px;
  color: #003b00;
  font-size: 20px;
  height: 30px;
  width: 80px;
}

.buyable__effect {
  font-size: 12px;
}

.buyable__text {
  flex-grow: 1;
  margin: 0 20px;
}

.buyable__text.grayed
{
	background-color:#666;
	color:#f00;
}

.buyable__title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.buyable__title-text {
  font-weight: bold;
}

.clicker {
  display: flex;
  align-items: center;
  justify-content: center;
}

.clicker__button-area {
  font-size: 24px;
  text-align: center;

  background: #000000;
  border-radius: 8px;
  opacity: .8;
  padding: 30px;
}

.clicker__button {
  background-image: url("../images/matrixCode.gif");
  background-size: cover;
  height: 150px;
  width: 250px;

  background-color: #000000;
  border: none;
  outline: none;
}
